<h2>Report Form</h2>

<form method="post" id="reportForm" 
  data-students-url="{% url 'ajax_load_students' %}" 
  data-subjects-url="{% url 'ajax_load_subjects' %}" 
  data-professors-url="{% url 'ajax_load_professors' %}" novalidate>
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit">Save</button>
  <a href="{% url 'report_list' %}">Back</a>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $("#id_group_1to1").change(function () {
    var url = $("#reportForm").attr("data-students-url");  // get the url of the `load_students` view
    var groupId = $(this).val();  // get the selected country ID from the HTML input

    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'group_1to1': groupId       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        $("#id_student_1to1").html(data);  // replace the contents of the city input with the data that came from the server
      }
    });

  });
</script>

<script>
    $("#id_group_1to1").change(function () {
      var url = $("#reportForm").attr("data-subjects-url");  // get the url of the `load_students` view
      var groupId = $(this).val();  // get the selected country ID from the HTML input
  
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'group_1to1': groupId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_subject_1to1").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });
  
    });
</script>


<script>
  $("#id_group_1to1").change(function () {
    var url = $("#reportForm").attr("data-professors-url");  // get the url of the `load_students` view
    var groupId = $(this).val();  // get the selected country ID from the HTML input

    $.ajax({                       // initialize an AJAX request
      url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      data: {
        'group_1to1': groupId       // add the country id to the GET parameters
      },
      success: function (data) {   // `data` is the return of the `load_cities` view function
        $("#id_professor_1to1").html(data);  // replace the contents of the city input with the data that came from the server
      }
    });

  });
</script>